@charset "UTF-8";
/****************
PC設定
****************/

/* PC共通設定 */
body {
  line-height: 1.8;
}












/* ここからスター */


:root{
  --star-first:#daa520;
  --star-second:#ffd700;
}
.star1{
  animation: flash1 1.5s linear infinite;
}
@keyframes flash1 { 
  10%,100% {
    color: var(--star-first);
  }
  0% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star2{
  animation: flash2 1.5s linear infinite;
}
@keyframes flash2 { 
  0%,17%,100% {
    color: var(--star-first);
  }
  7% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star3{
  animation: flash3 1.5s linear infinite;
}
@keyframes flash3 { 
  0%,4%,24%,100% {
    color: var(--star-first);
  }
  14% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star4{
  animation: flash4 1.5s linear infinite;
}
@keyframes flash4 { 
  0%,11%,31%,100% {
    color: var(--star-first);
  }
  21% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star5{
  animation: flash5 1.5s linear infinite;
}
@keyframes flash5 { 
  0%,18%,38%,100% {
    color: var(--star-first);
  }
  28% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star6{
  animation: flash6 1.5s linear infinite;
}
@keyframes flash6 { 
  0%,25%,45%,100% {
    color: var(--star-first);
  }
  35% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star7{
  animation: flash7 1.5s linear infinite;
}
@keyframes flash7 { 
  0%,32%,52%,100% {
    color: var(--star-first);
  }
  42% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star8{
  animation: flash8 1.5s linear infinite;
}
@keyframes flash8 { 
  0%,39%,59%,100% {
    color: var(--star-first);
  }
  49% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star9{
  animation: flash9 1.5s linear infinite;
}
@keyframes flash9 { 
  0%,46%,66%,100% {
    color: var(--star-first);
  }
  56% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star10{
  animation: flash10 1.5s linear infinite;
}
@keyframes flash10 { 
  0%,53%,73%,100% {
    color: var(--star-first);
  }
  63% {
    color: var(--star-second);
    font-weight: bold;
  }
}
.star-non{
  color: var(--star-first);
}






/* ここまで */



















footer {
  padding: 10px 0;
  background-color: #000000;
}
.copyright{
  color: #ffffff;
  text-align: center;
}

/****************
スマートフォン設定
****************/

@media(max-width: 767px) {
  /* スマートフォン共通設定 */
}
