body {
  background-image: url('./images/top-bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

header {
  width: 100%;
  position: relative;
  z-index: 1;
}

.nav-link {
  margin: 0 10px 0 10px;
  font-weight: bold;
}

div#headtitle {
  padding-left: 70px;
  padding-right: 40px;
}

.navbar {
  padding: 25px 1rem;
}

div#headtitle {
  padding-left: 70px;
  padding-right: 40px;
}

.header-toumei {
  width: 100%;
  height: 20px;
  background: linear-gradient(#b0e0e6, transparent);
}

.navbar {
  padding: 25px 1rem;
}


footer {
  width: 100%;
  height: 100px;
  background-color: #174a5c;
  color: white;
  text-align: center;
}

.footer-c {
  line-height: 100px;
}